.o_ve_address_format {
    .field
    .o_ve_address_col {
        width: 100% !important;
        padding-right: 10px;
    }
    .o_ve_address_col_2 {
        width: 50% !important;
        padding-right: 10px;
    }
    .o_ve_address_col_3 {
        width: 40% !important;
        padding-right: 10px;
    }
    .o_ve_address_col_4 {
        width: 30% !important;
        padding-right: 10px;
    }
}